body {
    font-family: sans-serif;
    color: #0298b6;
}

.heading {
    font-size: 3rem;
    color: #0096c7;
}

.heading_2 {
    font-size: 2rem;
}

p {
    font-size: 1.1rem;
}

.btn {
    width: 100px;
    height: 50px;
    border: 2px solid #0298b6;
    margin-left: 20px;
    color: #0096c7;
    font-weight: bolder;
    font-size: large;
    background-color: white;
    border-radius: 50px;
}

.btn:hover {
    background-color: #0096c7;
    color: white;
}

.labels {
    font-size: 1.4rem;
}

input[type=text],
input[type=password],
input[type=tel],
input[type=email],
input[type=date] {
    font-size: 1.4rem;
    color: #0298b6;
    border: 2px solid #0096c7;
    border-radius: 10px;
    text-decoration: none;
    width: 250px;
    height: 40px;
    margin: 20px;
}

textarea {
    font-size: 1.4rem;
    color: #0298b6;
    border: 2px solid #0096c7;
    border-radius: 10px;
    text-decoration: none;
    width: 250px;
    height: 100px;
    margin: 20px;
}

input[type=radio] {
    margin: 5px;
}

input:focus {
    outline: none !important;

}

textarea:focus {
    outline: none !important;
}

.lang_box{
    padding-left: 10px;
}
.book_images{
    margin-top: 10px;
    margin-bottom: 10px;
    width:10rem
}
.cart_btn{
    width:200px
}
.catalog_table,.catalog_cells{
    border: 3px solid rgb(218, 216, 216);
    border-collapse: collapse;
    font-size: 1.5rem;
}

i{
    font-size: 1rem;
}